* {margin: 0; padding: 0; list-style: none; box-sizing: border-box; color: #333;}
img{max-width: 100%; height: auto;}

/* 상단(상세보기) */
.container{width: 1170px;}
.container .row .top h2{font-size: 30px; font-weight: 500;}
.container .row .top h2 span{font-size: 20px; font-weight: 500; color: #777;}

.detail-info{min-height: 345px;}
.prod .detail-info .title{
    border-bottom: 1px solid #999; 
    margin: 0px 0px 10px; 
    font-size: 22px;
    font-weight: 500;
}
.prod .detail-info .price{
    border-bottom: 1px solid #999; 
    margin: 0px 0px 10px; 
    padding: 10px 0px;
    font-size: 30px;
}

.prod .delivery{ color: #888;}

/* 오른쪽 상자 아래 플롯 */
.detail-control .price{overflow: hidden;}
.detail-control .price .left{float: left; font-size: 18px;}
.detail-control .price .right{float: right; font-size: 28px; width: 700;}

/* 버튼 설정 */
.detail-control .order > button{ width: 50%; height: 60px; font-size: 15px; border-radius: 0;}
.detail-control .order{overflow: hidden;}
/* .detail-control .order button {border-radius: 0; } */
.detail-control .order .left{float: left;}
.detail-control .order .right{float: right;}

/* 아래 텍스트 창 */
/* 이미지 포지션 */
.wrap-all{
    background-color: #f5f5f5; 
    border: 1px solid #ddd; 
    padding: 15px;
    position: relative;
}
.wrap-all .reply-img{position: absolute; left: 15px; top: 15px;}
.wrap-all .reply-textarea{padding-left: 60px;}
.wrap-all .reply-textarea > textarea{width: 100%; min-height: 80px; resize: vertical;}
.form-control {display: block; width: 200px; border-radius: 0; padding: 6px 12px; margin: 0px 0px 10px;}

.form{overflow: hidden;}
.form > .form-left{float: left;}
.form > .btn-right{
    float: right; 
    border-radius: 0; 
    background-color: #5bc0de; 
    border: 1px solid #46b8da;
    color: #f5f5f5;
    padding: 6px 12px;
}