*{margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
img{max-width: 100%; height: auto;}
.btn{border-radius: 0;}
.form-control{border-radius: 0;}

.detail {min-height: 370px;} /* 상자에 margin-bottom을 줘도 된다 */
.detail .title {font-size: 25px; }
.detail .price {
    font-size: 25px; 
    font-weight: 700; 
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
}
.detail .deliver{font-size: 12px; color: #888;}

.detail-control .price,
.detail-control .order {
    overflow: hidden;
}
.detail-control .price .left{float: left; font-weight: 500; height: 29px; line-height: 29px;}
.detail-control .price .right{float: right; font-size: 20px; font-weight: 700; height: 29px;}

.detail-control .order .left{float: left; width: 50%;  padding: 10px 0;}
.detail-control .order .right{float: right; width: 50%; padding: 10px 0;}

/* ***************댓글******************* */
.reply-wrap { /* 이미지 포지션 */
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    position: relative;
    padding: 15px;
}
.reply-wrap .reply-img{
    position: absolute;
    left: 15px;
    top: 15px;
}
.reply-content{padding-left: 55px;}

.reply-content textarea {
    resize: vertical; 
    height: 70px; 
    margin-bottom: 5px; 
    transition: all .3s ease-in-out;
}
.reply-content textarea:focus{height: 150px;} /* 텍스트 상자 기능추가 */

.reply-control .left input:nth-child(1){margin-bottom: 5px;} /* 정리 필수! */

.reply-control{overflow: hidden;}
.reply-control .left{float: left;}
.reply-control .right{float: right;}

.reply-group{overflow: hidden;}
.reply-group .left{float: left; color: #777;}
.reply-group .right{float: right;}

.reply-group a{color: #777;}

.reply-group small{margin-left: 10px; height: 20px; line-height: 20px;}

.reply-content .clearfix{margin: 0 0 10px;}